<form class="contact-form">
    <p> 
        <md-input-container>
            <input mdInput type="text" name="from" placeholder="Email" [(ngModel)]="from" value="" email>
        </md-input-container>
    </p>
    <p>
        <md-input-container>
            <input mdInput type="text" class='form-control' name="subject" placeholder="Subject" [(ngModel)]="subject" value="" required>
        </md-input-container>
    </p>
    <p>
        <md-input-container class="contact-full-width">
            <textarea mdInput type="text" name="message" placeholder="Message" [(ngModel)]="message" value="" resizeToFitContent required></textarea>
        </md-input-container>
    </p>
    <p> 
       <button md-raised-button (click)="sendClick()">Send</button>
    </p>
</form>
<!-- <p> 
    <button md-raised-button (click)="testCall()">test</button>
 </p> -->