<md-list class="list-container">
    <md-list-item>
        <ul> 
            <li *ngFor="let skill of dotNetSkills"> 
                {{ skill.name }}
                <md-progress-bar class="progressbar" mode="determinate" color='primary' [value]='skill.progress'></md-progress-bar>
                <label> 100% </label>
            </li>
        </ul>
    </md-list-item>

    <md-list-item> 
        <ul> 
            <li *ngFor="let db of databaseSkills"> 
                {{ db.name }}
                <md-progress-bar class="progressbar" mode="determinate" color='primary' [value]='db.progress'></md-progress-bar>
                <label> 100% </label>
            </li>
        </ul>
    </md-list-item>

    <md-list-item> 
        <ul> 
            <li *ngFor="let java of javaSkills"> 
                {{ java.name }}
                <md-progress-bar class="progressbar" mode="determinate" color='primary' [value]='java.progress'></md-progress-bar>
                <label> 100% </label>
            </li>
        </ul>
    </md-list-item>

    <md-list-item> 
        <ul> 
            <li *ngFor="let web of webtechSkills"> 
                {{ web.name }}
                <md-progress-bar class="progressbar" mode="determinate" color='primary' [value]='web.progress'></md-progress-bar>
                <label> 100% </label>
            </li>
        </ul>
    </md-list-item>

    <md-list-item> 
        <ul> 
            <li *ngFor="let mob of mobiledevSkills"> 
                {{ mob.name }}
                <md-progress-bar class="progressbar" mode="determinate" color='primary' [value]='mob.progress'></md-progress-bar>
                <label> 100% </label>
            </li>
        </ul>
    </md-list-item>

    <md-list-item> 
        <ul> 
            <li *ngFor="let oth of otherSkills"> 
                {{ oth.name }}
                <md-progress-bar class="progressbar" mode="determinate" color='primary' [value]='oth.progress'></md-progress-bar>
                <label> 100% </label>
            </li>
        </ul>
    </md-list-item>
</md-list>