<h3> Who am I... </h3>

<p>
    As you already probably know, my name is Stoyan Bonchev from Varna, Bulgaria and 
    I am a student and .NET developer. I am from Varna, Bulgaria, but I am studying in Copenhagen, Denmark. 
    All in all I am a technology freak and I love to develop new stuff all the time. 
    I started at school with Java, but then I took an elective course called "Web development 
    with C# and ASP.NET MVC" which brings me to my passion about the .NET Framework and the 
    Microsoft products at all.
</p>

<div class="row">
        <div class="col-xs-12">
            <img [src]="meImagePath" height="350">
        </div>
    </div>

<p>
    In my free time I love to perform various activies away from the monitor such 
    as playing basketball. I also like to travel around the world - mostly 
    2-5 days, to see the world with my own eyes. 
</p>