<div class="mainBar">
  <h1>Stoyan Bonchev</h1>
  <img id="psdImage" [src]=certBadgePath>
</div>

<md-toolbar color="primary">
<nav md-tab-nav-bar>
  <a md-button routerLink="/about" routerLinkActive="active">About</a>
  <a md-button routerLink="/skills" routerLinkActive="active">Skills</a>
  <a md-button routerLink="/projects" routerLinkActive="active">Projects</a>
  <a md-button routerLink="/contact" routerLinkActive="active">Contact</a>
</nav>
</md-toolbar>

<router-outlet></router-outlet>


<footer> 
    
    <a href="https://github.com/Sm1rfa" target="_blank"> <img [src]="githubIcon"> </a>
    <a href="https://www.linkedin.com/in/stoyan-bonchev-b0a26465/" target="_blank"><img [src]="linkedInIcon"> </a><br><br>
    © 2017 - Stoyan Bonchev's portfolio
</footer>