/* theme colors https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1 */

h1 {
    text-decoration:underline;
  }
  .red-title {
    color:red;
  }
  .large-title {
    font-size:3em;
  }

  router-outlet {
    position: absolute;
  }
  
  footer {
    height: 120px;
    background-color: #3F51B5;
    color: white;
    margin-top: 10px;
    text-align: center;
    padding-top: 10px;
  }

  img {
    height: 50px;
}

.mainBar img {
  float: right;
  width: 100px;
  height: 100px;
}