<md-grid-list cols="4" rowHeight="450px">
        <md-grid-tile [colspan]='2' [rowspan]='1'>
                <md-card class="project-card">
                        <md-card-header>
                          <div md-card-avatar class="project-header-image"></div>
                          <md-card-title>E-Doctor</md-card-title>
                          <md-card-subtitle>C#, MVC 5</md-card-subtitle>
                        </md-card-header>
                        <img md-card-image src="assets/images//edoc.jpg">
                        <md-card-content>
                          <p>
                            Online system for patient appointment management.
                          </p>
                        </md-card-content>
                        <md-card-actions>
                          <button md-button><a href="https://github.com/Sm1rfa/E-Doctor" target="_blank">View source</a></button>
                        </md-card-actions>
                </md-card>
        </md-grid-tile>
        <md-grid-tile [colspan]='2' [rowspan]='1'>
          <md-card class="project-card">
            <md-card-header>
              <div md-card-avatar class="project-header-image"></div>
              <md-card-title>System Management</md-card-title>
              <md-card-subtitle>C#, WPF</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="assets/images//sys.png">
            <md-card-content>
              <p>
                System which gives you overview on the operating system, processes and ability to maintain them.
              </p>
            </md-card-content>
            <md-card-actions>
              <button md-button><a href="https://github.com/Sm1rfa/SystemManagement" target="_blank">View source</a></button>
            </md-card-actions>
    </md-card>
        </md-grid-tile>
        <md-grid-tile [colspan]='2' [rowspan]='1'>
          <md-card class="project-card">
            <md-card-header>
              <div md-card-avatar class="project-header-image"></div>
              <md-card-title>Chitanka Info</md-card-title>
              <md-card-subtitle>C#, WPF (in Bulgarian language)</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="assets/images//chitanka.png">
            <md-card-content>
              <p>
                Client for the popular bulgarian free library web page chitanka.info. You can review certain amount
                of writers and their books. You can also open and read epub books in it.
              </p>
            </md-card-content>
            <md-card-actions>
              <button md-button><a href="https://github.com/Sm1rfa/ChitankaInfo" target="_blank">View source</a></button>
            </md-card-actions>
          </md-card>
        </md-grid-tile>
        <md-grid-tile [colspan]='2' [rowspan]='1'>
          <md-card class="project-card">
            <md-card-header>
              <div md-card-avatar class="project-header-image"></div>
              <md-card-title>Simple Tools</md-card-title>
              <md-card-subtitle>C#, WPF, Esri packages (for maps), Yandex.Translation services</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="assets/images//tools.jpg">
            <md-card-content>
              <p>
                Desktop application with various functions: calculation of percentage, translations, world map (with search).
              </p>
            </md-card-content>
            <md-card-actions>
              <button md-button><a href="https://github.com/Sm1rfa/CSharp.SimpleTools" target="_blank">View source</a></button>
            </md-card-actions>
          </md-card>
        </md-grid-tile>
      </md-grid-list>

      <md-grid-list cols="4" rowHeight="450px">
        <md-grid-tile [colspan]='2' [rowspan]='1'>
                <md-card class="project-card">
                        <md-card-header>
                          <div md-card-avatar class="project-header-image"></div>
                          <md-card-title>Timer</md-card-title>
                          <md-card-subtitle>C#, WPF, WCF, Entity Framework (Code-First)</md-card-subtitle>
                        </md-card-header>
                        <img md-card-image src="assets/images//timer.png">
                        <md-card-content>
                          <p>
                            Desktop system for employees time management.
                          </p>
                        </md-card-content>
                        <md-card-actions>
                          <button md-button><a href="https://github.com/Sm1rfa/CSharp.Timer" target="_blank">View source</a></button>
                        </md-card-actions>
                </md-card>
        </md-grid-tile>
        <md-grid-tile [colspan]='2' [rowspan]='1'>
                <md-card class="project-card">
                        <md-card-header>
                          <div md-card-avatar class="project-header-image"></div>
                          <md-card-title>Battleship Game</md-card-title>
                          <md-card-subtitle>Java</md-card-subtitle>
                        </md-card-header>
                        <img md-card-image src="assets/images//battleship.png">
                        <md-card-content>
                          <p>
                            Standart battleship game with multiplayer and ability for chat between the players.
                          </p>
                        </md-card-content>
                        <md-card-actions>
                          <button md-button><a href="https://github.com/Sm1rfa/SystemManagement" target="_blank">View source</a></button>
                        </md-card-actions>
                </md-card>
        </md-grid-tile>
        <md-grid-tile [colspan]='2' [rowspan]='1'>
          <md-card class="project-card">
            <md-card-header>
              <div md-card-avatar class="project-header-image"></div>
              <md-card-title>Sunshine</md-card-title>
              <md-card-subtitle>Java</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="assets/images//cottage.jpg">
            <md-card-content>
              <p>
                Hotel system, for maintaining guests.
              </p>
            </md-card-content>
            <md-card-actions>
              <button md-button><a href="https://github.com/Sm1rfa/Sunshine" target="_blank">View source</a></button>
            </md-card-actions>
          </md-card>
        </md-grid-tile>

        <md-grid-tile [colspan]='2' [rowspan]='1'>
          <md-card class="project-card">
            <md-card-header>
              <div md-card-avatar class="project-header-image"></div>
              <md-card-title>My Portfolio</md-card-title>
              <md-card-subtitle>Angular 4, Angular Material</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="assets/images//me.jpg">
            <md-card-content>
              <p>
                Personal portfolio.
              </p>
            </md-card-content>
            <md-card-actions>
              <button md-button><a href="https://github.com/Sm1rfa/Web.Portfolio" target="_blank">View source</a></button>
            </md-card-actions>
          </md-card>
        </md-grid-tile>
      </md-grid-list>